html{
    color: rgb(247, 246, 246);
    background: url("https://us.123rf.com/450wm/panychev/panychev1601/panychev160100351/51185512-material-artificial-simula-la-textura-de-madera-de-color-negro-la-ilustraci%C3%B3n-generada-por.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 6em;
    text-align: center;
    color: rgb(226, 173, 173);
}
.primero, #confirma {
    border: darkgray 6px solid;
    width: 4em;
    height: 2.4em;
    margin: 35px;
    font-size: 34px;
    border-radius: 2em;
}
#confirma{
    width: 8em;
}
#iniciar{
    text-align: center;
}
.hidden{
    display: none;
}
.juego{
    text-align: center;
    font-size: 3em;
}
input{
    text-align: center;
    border: darkgray 3px solid;
    width: 4em;
    height: 2.4em;
    margin: 35px;
    font-size: 34px;
    border-radius: 2em;
}